<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critter Keeper</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Critter Keeper</h1>
        <h2 class="mt-4">All Critters</h2>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rescue Date</th>
                        <th>Case Number</th>
                        <th>Rescue Role</th>
                        <th>Critter Count</th>
                        <th>Animal Type</th>
                        <th>Life Stage</th>
                        <th>Conservation Status</th>
                        <th>Original Location</th>
                        <th>KM Driven</th>
                        <th>Volunteer Notes</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% critters.forEach(critter => { %>
                        <tr>
                            <td><%= new Date(critter.rescue_date).toLocaleDateString() %></td>
                            <td><%= critter.case_number %></td>
                            <td><%= critter.rescue_role %></td>
                            <td><%= critter.critter_count %></td>
                            <td><%= critter.animal_type %></td>
                            <td><%= critter.animal_age %></td>
                            <td><%= critter.conservation_status %></td>
                            <td><%= critter.original_location %></td>
                            <td><%= critter.km_driven %></td>
                            <td><%= critter.volunteer_notes %></td>
                            <td><a href="/edit/<%= critter.case_number %>" class="btn btn-warning">Edit</a></td>
                            <td>
                                <form action="/delete" method="POST" style="display:inline;">
                                    <input type="hidden" name="critterId" value="<%= critter._id %>">
                                    <button class="btn btn-danger" onclick="deleteCritter('<%= critter._id %>')">Delete</button>
                                </form>
                            </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        <a href="/add-critter" class="btn btn-primary mt-4">Add New Critter</a>
    </div>
</body>
</html>